# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# latex output
*.aux
*.pdf
*.gz
*.log
*.dvi

# backup files
*~

# ide project files and directory
nbproject/

# target
main

# matlab data files
*.mat

# pictures
*.eps
*.jpg
*.tif

